.topstrip{
    width:99%;
    position:fixed;
    top:0px;
    height:50px;
    background-color: #3273dc;
    color:white;
    text-align: right;
    font-size: 16px;
    font-family: Open Sans;
}
.topbar{
    display:block;
    width:100%;
    position:fixed;
    top:50px;
    bottom:65px;
}
.rounded-div-bot{
    display:block;
    width:80%;
    border-radius: 5px;
    border:none;
    background-color: #209cee;
    float:right;
    margin: 10px;
    padding:5px;
    min-height: 1em;
}
.rounded-div{
    display:block;
    width:80%;
    border-radius: 5px;
    margin: 10px;
    padding:5px;
    border:none;
    background-color: #bbe1fb;
    float:left;
}
.inputbox{
    outline:none;
    border:none;
    border-radius: 5px;
    background-color: #efefef;
    width:98%;
    height:40px;
    position:fixed;
    bottom:25px;
}
